@import '~bootstrap/dist/css/bootstrap.min.css';

.actions-column {
    white-space: nowrap;
}

.actions-column form,
.actions-column a {
    display: inline-block;
    margin-right: 5px;
}

.actions-column button {
    margin-right: 5px;
}

/* Form validation color */
.is-invalid {
    border-color: #dc3545; /* Bootstrap red */
}

.is-invalid:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25); /* red shadow  */
}



.breadcrumb-item a {
    color: rgb(0, 0, 0); 
}

.breadcrumb-item.active {
    color: rgb(37, 150, 190); 
}
  
.trashed {
    border: 2px solid red;
}

