@import '~bootstrap/dist/css/bootstrap.min.css';

.actions-column {
    white-space: nowrap;
}

.actions-column form,
.actions-column a {
    display: inline-block;
    margin-right: 5px;
}

.actions-column button {
    margin-right: 5px;
}
